

h1 {
    width: 100%;
    display:inline-block;
    border-bottom: 3px solid #FF8000;
}

img {
    max-width: 60%;
    max-height: 35vh;
    box-shadow: 2px 0 11px silver;
    margin-top:     5px;
    margin-left:    10px;
    margin-bottom:  5px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar {
    left: 15px;
}

table {width: 100% !important;display: table;}

tr td:nth-child(n+2), tr th:nth-child(n+2) {width: 100%;}
tr td:nth-child(1),   tr th:nth-child(1)   {min-width: 200px;}
.markdown-section th                  {background-color: #e8e8e8;}
.markdown-section tr:nth-child(2n+1)  {background-color: #ffffff;}
.markdown-section tr:nth-child(2n)    {background-color: #f8f8f8;}
